@model IEnumerable<CTWMasterClass_WebAppActivities.Models.Barrel>

@{
    ViewBag.Title = "Index";
}


    <head>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Sort New", "Sort")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConstructionMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


