@model IEnumerable<CTWMasterClass_WebAppActivities.Models.Barrel>

@{
    ViewBag.Title = "Sort";
}

<head>
    <title>Sort</title>
    <link href="~/StyleTile/stylesheet.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>
    <div container="container-fluid">

        <div class="row">
            <div class="col-sm-4">

                <h3 class="minorHeading">Weight(Low to High)-Barrels</h3>
                @Html.ActionLink("Weight(H-L)-Barrels", "Sort")|
                @Html.ActionLink("Weight(L-H)-Cubes", "WeightLHCubes")|
                @Html.ActionLink("Weight(H-L)-Cubes", "SortCubes")
                <form action="Sort" method="post">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table panelFluid">
                    <tr>
                        <th>
                            Construction Material
                        </th>
                        <th>
                            Current Location
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contents)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weight)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contents)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>

            </div>

        </div>
    </div>

</body>






